mat-sidenav-container{
   height: calc(100vh - 65px);
   background: url(https://i.imgur.com/73BxBuI.png);
   background-size: cover;
   background-position: center;
   padding: 50px;
   margin: 50px auto;
   min-height: 700px;
   -webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
   box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .hide-on-mobile {
      display: none;
  }
}

.mat-elevation-z8{
   background-image: linear-gradient(90deg, #00C0FF 0%, #00ffbf 49%, #1676f3 80%, #00C0FF 100%);
   position: relative;
   left: 2%;
   right: 75%;
}

.content {
   height: calc(100vh - 98px);
   border-radius: 10px;
   margin: 16px;
   margin-left: 32px;
   display: flex;
   font-size: 2rem;
   color: lightgray;
}

.avatar {
   margin-top: 14px;
   width: 35%;
   height: 25%;
   border-radius: 50%;
}


/* redes sociales */
.social-login{
   position: relative;
   left: 35%;
   right: 25%;
}

.logo2{
  position: relative;
}

.facebook {
  margin-top: 18px;
  width: 8%;
  height: 18%;
  border-radius: 50%;
}

.google {
  margin-top: 18px;
  width: 8%;
  height: 20%;
  border-radius: 50%;
}

.twitter {
  margin-top: 18px;
  width: 8%;
  height: 18%;
  border-radius: 50%;
}
/* redes sociales */


/* estilo de boton azul degradado */
.btn-primary{
  background: #3BFFE8;
  background: linear-gradient(45deg, #3BFFE8, #0C41A6);
  width: 60%;
  height: 120%;
  border-radius: 1px solid  #0C41A6;
}

.btn-primary {
  transition-duration: 0.4s;
}

.btn-primary:hover {
  background: #ABFFF5;
  background-image: linear-gradient(90deg, #00C0FF 0%, #00ffbf 49%, #4fbcfc 80%, #00C0FF 100%);
  color: white;
}

/* estilo de boton azul degradado */

/* estilo boton registrar */
.boton2{
   background: #3BFFE8;
   background: linear-gradient(45deg, #3BFFE8, #0C41A6);
   width: 33%;
   height: 100%;
   border-radius: 1px solid  #0C41A6;
}

.boton2 {
   transition-duration: 0.4s;
}

 .boton2:hover {
   background: #ABFFF5;
   background-image: linear-gradient(90deg, #00C0FF 0%, #00ffbf 49%, #4fbcfc 80%, #00C0FF 100%);
   color: white;
}

/* estilo boton registrar */

/* inputs para ingreso de correo y contraseña */
.form-group {
   position: relative;
}

 .form-control {
   border: 0;
   outline: none;
   border-radius: 0;
   border-bottom: 2px solid #ccc;
   padding-bottom: 5px;
   background-color: transparent;
   border-bottom: 2px solid #0072ff;
}

.input-border {
   position: absolute;
   border: 0;
   outline: none;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #47fff6;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
}


.form-control:focus{
   box-shadow: none;
}

 .form-control:focus + .input-border {
   transform: scaleX(1);
}

label{
   color: #0C41A6;
   font-size: 18px;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 5px;
  resize: vertical;
  outline: none;
  border: 0;
}

@keyframes animacion-modal {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 3;
    transform: scale(1);
  }

}
/* inputs para ingreso de correo y contraseña */

/* animacion del modal */
.modal {
  opacity: 0;
  transform: scale(0.8);
  animation: animacion-modal 0.3s ease-in-out forwards;
}
/* animacion del modal */

input[type=button] {
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 4px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.container  {
  width: 85%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  color: lightgray;
}

.login-container {
   background-color: #f1f1f1;
   border-radius: 0 0 50% 50% / 10% 10% 0 0;
   padding: 20px;
}

/* span del texto no tienes cuenta */
.span1{
   font-size: 15px;
   color: black;
}
/* span del texto no tienes cuenta */

/* icono y label del correo */
.icon-correo{
  color: #0C41A6;
  font-size: 30px;
}

.label-correo{
  color: #0C41A6;
  font-size: 20px;
  margin-left: 10px;
  font-family:sans-serif;
  font-weight: bold;
}
/* icono y label del correo */


/* icono y label de la contra */
.icon-pass{
  color: #0C41A6;
  font-size: 30px;
}

.label-pass{
  color: #0C41A6;
  font-size: 20px;
  margin-left: 10px;
  font-family:sans-serif;
  font-weight: bold;
}
/* icono y label de la contra */

.label-login{
  color: #f9f9fa;
  font-size: 20px;
  font-family:sans-serif;
  font-weight: bold;
}


/* cabecera del modal */
.modal-header{
  background: #01A7FD;
  background: radial-gradient(at left center, #01A7FD, #9CFFF0);
}

.modal-title{
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding-top: 5%;
  margin-left: 28%;
}
/* cabecera del modal */


.modal-body{
  background-color: #fdfcfcfd;
  border-bottom: 1px solid #9de3ff;
  border-top: 1px solid #f3f7f8;
}

/* boton close del modal */
.boton-close{
  background-color: #47b4df;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  width: 25%;
}

.boton-close:hover{
  background-color: rgb(79, 166, 224);
}
/* boton close del modal */

.text-muted{
  font-size: 10px;
}
