<form novalidate>
    <div class="row">
        <div class="col form-group">
            <label>Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Apellido</label>
            <input type="email" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col form-group">
            <label>Celular</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Correo</label>
            <input type="email" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control">
        </div>
        <div class="col form-group">
            <label>Repetir Contraseña</label>
            <input type="email" class="form-control">
        </div>
    </div>
      
    <div class="form-group mt-3">
      <button class="btn btn-primary btn-block">Guardar</button>
    </div>
  </form>

  
 
  
  